/*Jason Hulet - 8/12/2022*/

.common {
    position: absolute;
}

.header {
    top: 10px;
    left: 10px;
    right: 10px;
    height: 110px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.mainbody {
    top: 150px;
    bottom: 70px;
    left: 10px;
    right: 10px;
    padding: 20px;
    z-index: 2;
}

.footer {
    bottom: 10px;
    left: 10px;
    right: 10px;
    height: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
    text-align: center;
    position: fixed;
    z-index: 1;
}

.subheader {
    float: right;
}

.tableauchart {
    position: relative;
    left: 15%;

}

.tableaucaption {
    left: 30%;
    right: 30%;

}